[submodule "external/cheXlocalize"]
	path = external/cheXlocalize
	url = https://github.com/rajpurkarlab/cheXlocalize.git
[submodule "third_party/third_party/cheXlocalize"]
	path = third_party/third_party/cheXlocalize
	url = https://github.com/rajpurkarlab/cheXlocalize.git
[submodule "third_party/cheXlocalize"]
	path = third_party/cheXlocalize
	url = https://github.com/rajpurkarlab/cheXlocalize.git
